.form-box {
  position: absolute;

  width: 100%;
  max-width: 300px;

  left: 50%;
  margin-left: -150px;

  top: 50%;
  margin-top: -90px;
}

.form-box .input-box {
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 5px;
  margin-top: 15px;

  font-size: 20px;
}

.form-box .input {
  width: 200px;
  border: 0;
}

.form-box .input:focus {
  outline: none;
}

.form-box .input-number {
  width: 50px;
  border: 0;
}

.form-box .input-number:focus {
  outline: none;
}

.form-box .button {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  border: 0;

  color: #FFFFFF;
  background: #2e7ec7;

  cursor: pointer;
}

.form-box .button:hover {
  background: #1f6eb7;
}

.form-box .button:focus {
  outline: none;
}

.form-box .result {
  width: 200px;
  font-size: 22px;

  border: 0;
}

#copy {
  vertical-align: bottom;
  cursor: pointer;
}

#toggle-show {
  vertical-align: bottom;
  cursor: pointer;
}

.right {
  float: right;
}

@media screen and (max-height: 200px) {
  .form-box {
    top: 10px;
    margin-top: 0;
  }
}

@media screen and (max-width: 300px) {
  .form-box {
    left: 5px;
    right: 10px;
    margin-left: 5px;

    min-width: 200px;
    width: auto;
  }

  .form-box .input {
    width: 130px;
  }

  .form-box .input-number {
    width: 30px;
  }

  .form-box .result {
    width: 130px;
  }
}
